@page
@model ForgotPasswordConfirmation

@{
    ViewData["Title"] = SharedLocalizer["ForgotPassword_Heading"];
}

<h1>@SharedLocalizer["ForgotPassword_Heading"]</h1>
<p>
    @SharedLocalizer["ForgotPassword_Confirmation"]
</p>
