@page
@using TOS.Resources
@using Microsoft.AspNetCore.Mvc.Localization
@model ForgotPasswordConfirmation
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["ForgotPassword_Heading"];
}

<h1>@SharedLocalizer["ForgotPassword_Heading"]</h1>
<p>
    @SharedLocalizer["ForgotPassword_Confirmation"]
</p>
