@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ResetPasswordConfirmationModel

@{
    ViewData["Title"] = SharedLocalizer["ResetPasswordConfirmation_Heading"];
}

<h1>@SharedLocalizer["ResetPasswordConfirmation_Heading"]</h1>
<p>
  @SharedLocalizer["ResetPasswordConfirmation_Info"] <a asp-page="./Login">@SharedLocalizer["ResetPasswordConfirmation_Login"]</a>.
</p>
