@page
@using TOS.Resources
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ResendEmailConfirmationModel
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["ResendConfirmationEmail_Heading"];
}

<h1>@SharedLocalizer["ResendConfirmationEmail_Heading"]</h1>

<hr />
<div class="row">
    <div class="col-md-6 mx-auto">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="" />
                <label asp-for="Input.Email" class="form-label">@SharedLocalizer["Email"]</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">@SharedLocalizer["ResendConfirmationEmail_Submit"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
