@using TOS.Resources
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TOS.Data
@model TOS.Models.Notification

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = "Edit notification";
}

<h1>Edit</h1>

<h4>Notification - @Model.Name</h4>
<hr />

<p>@SharedLocalizer["EditNotificationAboutParamatrization"]</p>
<p>
    [URL]<br/>
    [TOPIC_NAME],[TOPIC_NAME_ENG],[TOPIC_SHORT_DESCRIPTION]<br/>
    [TOPIC_SHORT_DESCRIPTION_ENG],[TOPIC_LONG_DESCRIPTION],[TOPIC_LONG_DESCRIPTION_ENG]<br/>
    [TOPIC_CREATOR],[TOPIC_CREATOR_EMAIL]<br/>
    [TOPIC_SUPERVISOR],[TOPIC_SUPERVISOR_EMAIL]<br/>
    [TOPIC_ASSIGNED],[TOPIC_ASSIGNED_EMAIL]<br/>
    [TOPIC_TYPE],[TOPIC_TYPE_ENG]<br/>
    [COMMENT_AUTHOR],[COMMENT_AUTHOR_EMAIL],[COMMENT_TEXT],[COMMENT_DATE]
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditNotification">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NotificationId" />
            <input type="hidden" asp-for="Name"/>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectEng" class="control-label"></label>
                <input asp-for="SubjectEng" class="form-control" />
                <span asp-validation-for="SubjectEng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="TextEng" class="control-label"></label>
                <textarea asp-for="TextEng" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
