@model IEnumerable<TOS.Models.Notification>

@{
    ViewData["Title"] = SharedLocalizer["Administration_Notifications_Heading"];
}

<h1>@SharedLocalizer["Administration_Notifications_Heading"]</h1>

<div class="list-group">
    @foreach (var notification in Model)
    {
        <a class="list-group-item list-group-item-action" asp-controller="Administration" asp-action="EditNotification" asp-route-id="@notification.NotificationId">@SharedLocalizer[notification.Name]</a>
    }
</div>