@using TOS.Extensions
@model IEnumerable<TOS.Models.Notification>

@{
    ViewData["Title"] = "Administration - Notifications";
}

<h1>Administration - Notifications</h1>


@foreach (var notification in Model)
{
    <a asp-controller="Administration" asp-action="EditNotification" asp-route-id="@notification.NotificationId">@Html.SelectStringByLanguage(notification.SubjectEng, notification.Name)</a>
    <br/>
}