@{
    ViewData["Title"] = "UPOL - TOS";
}

<div class="text-center">
    <h1>Portál pro nabídku závěrečných prací</h1>
    <p>Portál pro nabídku závěrečných prací a správu úkolů a projektů konkrétních předmětů vyučovaných na katedře informatiky Univerzity Palackého</p>
    <a class="link-secondary" href="https://www.inf.upol.cz/">www.inf.upol.cz</a>
</div>

<hr/>

<h2>Zpráva pro všechny</h2>
<p class="text-danger">Aplikace je pouze zatím v testovacím režimu, neslouží k reálnému výběru závěrečných prací, nebo ke správě úkolů v předmětech!</p>

<hr/>

<h3>Přihlášení</h3>
<div class="row g-5">
    <div class="col-lg-6">
        <h4>Pro studenty a vyučující na katedře informatiky</h4>
        <p>
            Aplikace je napojena na služby Univerzity Palackého a umožňuje vám přihlášení pomocí přihlašovacích údajů k AD/Stagu.
            <strong>Z tohoto důvodu nevyužívejte registrace, ale rovnou se přihlašujte: <a class="link-primary" href="~/Identity/Account/Login">zde</a></strong>
            pomocí stejných přihlašovacích údajů jako ke službám Univerzity Palackého.
        </p>
    </div>
    <div class="col-lg-6">
        <h4>Pro externí uživatele</h4>
        <p>
            Externí uživatelé mají možnost navrhnout témata závěrečných prací.
            Pro pokračování se přihlaste nebo zaregistrujte.
            Vaše registrace bude muset být potvrzena vedením katedry.
            <a class="link-primary" href="~/Identity/Account/Register">Registrovat se můžete zde.</a>
        </p>
    </div>
</div>

<h3>Notifikace</h3>
<p>
    Aplikace podporuje odesílání notifikací, proto abyste se k notfikacím přihlásili musíte v nastavení zvolit, které chcete dostávat.
    <a class="link-primary" href="~/Identity/Account/Manage/Notification">Odkaz na nastavení notifikací.</a>
</p>
